.mySlider {
    -webkit-appearance: none;
    height:20px;
    margin-top:0px;
    cursor: pointer;
    display:flex;
    background-color: transparent;
    justify-content: center;
    transition: opacity .3s, margin-left .3s, margin-right .3s, background-color, .3s;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    --value: 50%;
    padding:5px;
    flex:1;

  }
.header-title{
    font-size: 30px;
    margin-top: 0px;
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 8px;
    color: rgb(54, 54, 54);
    transition: letter-spacing .3s;
}
.mySlider:hover{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, .1);
}
.mySlider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  outline:none;
  margin-top: -3px;
}
.mySlider::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  background: #7c7c7c;
  border-radius: 50%;
  cursor:pointer;
}
.mySlider::-webkit-slider-runnable-track{
  background: linear-gradient(to right, orange 0%, gold var(--value), rgb(200, 207, 211) var(--value), rgb(220, 220, 220) 100%);;
  height:3px;
  border-radius: 2px;
  margin-left: 10px;
  margin-right:10px;
}
.mySlider::-ms-track{
  background:transparent;
  border-color:transparent;
  color: transparent;
  height:8px;
}
.slider-elements{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.year-left,
.year-right{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  letter-spacing:10px;
  font-weight: 300;
}
.header{
  height:100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  z-index: 100;
  background-color:rgba(246, 246, 246,.7);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(152, 152, 152);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  backdrop-filter: blur(10px);
  
}

.header-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:400px;
  margin-top:51px;
}
.header-left{
  width:680px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dropdown{
  display: flex;
  flex-direction: row;
}
.dropdown button{
  background-color: rgb(110, 110, 110);
  border:solid;
  border-width:0.2px;
  height:50px;
  width: 160px;
  color:rgb(252, 252, 252);
  cursor:pointer;
  border-color:white;
  transition: background-color .3s, color .3s, border .3s, border-color .3s, border-width .3s;
}
.dropdown button:hover{
  background-color: rgb(249, 249, 249);
  color: rgb(170, 170, 170);
  border:solid;
  border-width:1px;
  border-color: rgb(170, 170, 170);
}
.dropdown button:active{
  background: linear-gradient(135deg, orange, gold);
  color: white;
  border-color: white;
  border-width: 3px;
}
.header-right{
  width:180px;
  margin-right:50px;
  display: flex;
  justify-content: flex-end;
}
.colored-button{
  background: linear-gradient(135deg, orange, gold);
  color: white;
  border-color: white;
  border-width: 3px;
}
.js-select-industry{
  font-family: 'Roboto Condensed', sans-serif;
  margin-top:51px;
}
